<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<link rel="stylesheet" type="text/css" href="../../css/concert.css">
	<title>Bierhier</title>
</head>
<body>
<nav>
	<div class="row">
		<a href="../../index.html">Home</a>
		<a href="concert.html">Concerten</a>
		<a href="../sport/sport.html">Sport</a>
		<a href="../recipe/recipe.html">Recepten</a>
		<a href="../contact/contact.html">Contact</a>
	</div>
	<div class="img-container">
		<img src="../../images/logo-rocvf.png" height="74" width="166" alt="rocvf logo">
	</div>
</nav>
<main>
	<h1 class="concerts">Concerten</h1>
	<div class="row xl-col">
		<div class="col party-image">
			<img src="../../images/roc-party.jpg" alt="roc-party">
		</div>
		<div class="col">
			<b class="overview">Overzicht met concerten in Amsterdam en Almere</b>
			<div class="table-overflow">
				<table border="1">
					<thead>
					<tr>
						<td>Datum</td>
						<td>Tijd</td>
						<td>Plaats</td>
						<td>Locatie</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>10-12-2015</td>
						<td>13:00 - 18:00</td>
						<td>Almere Muziekwijk</td>
						<td>ROC gebouw</td>
					</tr>
					<tr>
						<td>14-12-2015</td>
						<td>16:00 - 20:00</td>
						<td>Almere Muziekwijk</td>
						<td>ROC gebouw</td>
					</tr>
					<tr>
						<td>18-12-2015</td>
						<td>19:00 - 22:00</td>
						<td>Almere Muziekwijk</td>
						<td>ROC gebouw</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row xxl-col image-gallery">
		<h2 class="more">En meer....</h2>
		<div class="row xl-col party-images">
			<div class="row sm-col">
				<a href="details.html">
					<img class="party-image" src="../../images/party.jpg" alt="roc-party">
				</a>
				<a href="details.html">
					<img class="party-image" src="../../images/party.jpg" alt="roc-party">
				</a>
			</div>
			<div class="row sm-col">
				<a href="details.html">
					<img class="party-image" src="../../images/party.jpg" alt="roc-party">
				</a>
				<a href="details.html">
					<img class="party-image" src="../../images/party.jpg" alt="roc-party">
				</a>
			</div>
		</div>
	</div>
</main>
<footer>
	<div class="row-between">
		<div class="sitelinks">
			<a href="../contact/contact.html">Contactpagina</a>
			<a href="concert.html">Uitjes naar Concerten in Amsterdam</a>
			<a href="../sport/sport.html">Sportevenementen in Almere</a>
			<a href="../recipe/recipe.html">Overzicht restaurants en bars</a>
			<a href="../recipe/recipe.html">Recepten voor kamerbewoners</a>
			<a href="../../index.html">Blog (homepage)</a>
		</div>
		<div class="img-container">
			<img src="../../images/Thom.jpg" height="200" width="200" alt="webontwikkelteam">
		</div>
	</div>
	<div class="copyright"> &#169 Copyright roc-dev.com 2015 </div>
</footer>
</body>
</html>