<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<link rel="stylesheet" type="text/css" href="../../css/concert-details.css">
	<title>Bierhier</title>
</head>
<body>
<nav>
	<div class="row">
		<a href="../../index.html">Home</a>
		<a href="concert.html">Concerten</a>
		<a href="../sport/sport.html">Sport</a>
		<a href="../recept/recept.html">Recepten</a>
		<a href="../contact/contact.html">Contact</a>
	</div>
	<div class="img-container">
		<img src="../../images/logo-rocvf.png" height="74" width="166" alt="rocvf logo">
	</div>
</nav>
<main>
    <h1 class="concerts">Concert van ROC</h1>
    <div class="xl-col">
        <div class="col party-images-1">
            <img src="../../images/roc-party.jpg" alt="roc-party">
            <img src="../../images/roc-party.jpg" alt="roc-party">
        </div>
        <div class="col image-description">
            <p>Etiam ullamcorper est turpis, porttitor molestie ex pulvinar eu. Morbi rutrum, ipsum quis vehicula interdum, elit orci semper nunc, semper imperdiet odio magna nec libero. Maecenas iaculis tristique ex ac tempus. Sed vulputate neque venenatis est tempor dictum. Duis hendrerit interdum est, ac faucibus risus condimentum quis. us condimentum quis, us condimentum quis. Duis vel augue quis sapien molestie viverra sed ut orci.</p>
        </div>
        <div class="col">
            <div class="xl-col video-description">
                <div>
                    <p>Nunc ac turpis imperdiet, blandit purus quis, efficitur magna. Etiam id sapien placerat, porta turpis quis, consectetur neque. Vivamus id sem pellentesque, maximus ex in, aliquam lorem.</p>
                </div>
                <div>
                    <p>Nunc ac turpis imperdiet, blandit purus quis, efficitur magna. Etiam id sapien placerat, porta turpis quis, consectetur neque. Vivamus id sem pellentesque, maximus ex in, aliquam lorem.</p>
                </div>
            </div>
            <div>
                <video class="mbo-college-image" controls poster="../../images/mbo-college-almere_2.png">
                    <source src="" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="row xxl-col image-gallery">
        <h2 class="more">En meer....</h2>
        <div class="row xl-col party-images-2">
            <div class="row sm-col">
                <a href="details.html">
                    <img class="party-image" src="../../images/party.jpg" alt="roc-party">
                </a>
                <a href="details.html">
                    <img class="party-image" src="../../images/party.jpg" alt="roc-party">
                </a>
            </div>
            <div class="row sm-col">
                <a href="details.html">
                    <img class="party-image" src="../../images/party.jpg" alt="roc-party">
                </a>
                <a href="details.html">
                    <img class="party-image" src="../../images/party.jpg" alt="roc-party">
                </a>
            </div>
        </div>
    </div>
</main>
<footer>
	<div class="row-between">
		<div class="sitelinks">
			<a href="../contact/contact.html">Contactpagina</a>
			<a href="concert.html">Uitjes naar Concerten in Amsterdam</a>
			<a href="../sport/sport.html">Sportevenementen in Almere</a>
			<a href="../recept/recept.html">Overzicht restaurants en bars</a>
			<a href="../recept/recept.html">Recepten voor kamerbewoners</a>
			<a href="../../index.html">Blog (homepage)</a>
		</div>
		<div class="img-container">
			<img src="../../images/Thom.jpg" height="200" width="200" alt="webontwikkelteam">
		</div>
	</div>
	<div class="copyright"> &#169 Copyright roc-dev.com 2015 </div>
</footer>
</body>
</html>