<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<link rel="stylesheet" type="text/css" href="../../css/sport-details.css">
	<title>Bierhier</title>
</head>
<body>
<nav>
	<div class="row">
		<a href="../../index.html">Home</a>
		<a href="../concert/concert.html">Concerten</a>
		<a href="sport.html">Sport</a>
		<a href="../recept/recept.html">Recepten</a>
		<a href="../contact/contact.html">Contact</a>
	</div>
	<div class="img-container">
		<img src="../../images/logo-rocvf.png" height="74" width="166" alt="rocvf logo">
	</div>
</nav>
<main>
    <div class="xl-col">
        <div class="col-left">
            <h1>Handbal</h1>
            <div>
                <video class="handball" controls poster="../../images/handbal.jpg">
                    <source src="" type="video/mp4">
                </video>
            </div>
            <div class="sm-col">
                <p class="row-margin-right">Duis hendrerit consectetur venenatis. Integer molestie lectus metus, in imperdiet magna iaculis sit amet. Sed tincidunt ipsum at massa condimentum hendrerit ut in felis. Morbi volutpat interdum felis nec fringilla. Phasellus tempus rhoncus dui, a varius nisi feugiat.</p>
                <p class="row-margin-left">Mauris maximus cursus nisi. Sed eget ullamcorper ipsum. Nullam eu massa non ante placerat eleifend sit amet vel purus. Proin et eleifend dui. In ornare volutpat nisl a tincidunt. Nulla interdum ac sem eu rutrum. Duis pharetra eros id libero venenatis dictum.</p>
            </div>
        </div>
        <div class="col-right">
            <h1>Uitslagen</h1>
            <div>
                <img class="scoreboard" src="../../images/uitslagen-nk-kettlebell-sport-2015.jpg" alt="scoreboard">
            </div>
            <div class="sm-col">
                <p class="col-right">Nullam eu massa non ante placerat eleifend sit amet vel purus. Proin et eleifend dui. In ornare volutpat nisl a tincidunt. Nulla interdum ac sem eu rutrum. Duis pharetra eros. id libero venenatis dictum. Mauris maximus cursus nisi. Sed eget ullamcorper ipsum.</p>
                <img class="handball-logo" src="../../images/handbal-logo.webp" height="200" width="200" alt="handball-logo">
            </div>
        </div>
    </div>
</main>
<footer>
	<div class="row-between">
		<div class="sitelinks">
			<a href="../contact/contact.html">Contactpagina</a>
			<a href="../concert/concert.html">Uitjes naar Concerten in Amsterdam</a>
			<a href="sport.html">Sportevenementen in Almere</a>
			<a href="../recept/recept.html">Overzicht restaurants en bars</a>
			<a href="../recept/recept.html">Recepten voor kamerbewoners</a>
			<a href="../../index.html">Blog (homepage)</a>
		</div>
		<div class="img-container">
			<img src="../../images/Thom.jpg" height="200" width="200" alt="webontwikkelteam">
		</div>
	</div>
	<div class="copyright"> &#169 Copyright roc-dev.com 2015 </div>
</footer>
</body>
</html>