<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<link rel="stylesheet" type="text/css" href="../../css/sport.css">
	<title>Bierhier</title>
</head>
<body>
<nav>
	<div class="row">
		<a href="../../index.html">Home</a>
		<a href="../concert/concert.html">Concerten</a>
		<a href="sport.html">Sport</a>
		<a href="../recept/recept.html">Recepten</a>
		<a href="../contact/contact.html">Contact</a>
	</div>
	<div class="img-container">
		<img src="../../images/logo-rocvf.png" height="74" width="166" alt="rocvf logo">
	</div>
</nav>
<main>
	<h1 class="sport">Sport</h1>
	<div class="row xl-col">
		<div class="col sport-images">
			<div class="row xl-col">
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
			</div>
			<div class="row xl-col">
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
			</div>
			<div class="row xl-col">
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
				<a href="#">
					<img src="https://placehold.jp/150x150.png" alt="image">
				</a>
			</div>
		</div>
		<div class="col sport-text">
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet enim ac augue auctor viverra.
			</div>
			<div>
				Phasellus congue tempor justo sed cursus.
			</div>
			<div>
				Praesent pretium libero nec lectus elementum interdum. Ut at odio lorem. Sed posuere tempus.
			</div>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet enim ac augue auctor viverra.
			</div>
			<div>
				Phasellus congue tempor justo sed cursus.
			</div>
			<div>
				Praesent pretium libero nec lectus elementum interdum. Ut at odio lorem. Sed posuere tempus.
			</div>
		</div>
	</div>
	<div class="row sport-description">
		<div class="col">
			<b>Links en adressen van sportclucs in Almere</b>
			<div>orem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet enim ac augue auctor viverra.</div>
		</div>
		<div class="col">
			<b>Links en adressen van sportclucs in Almere</b>
			<div>orem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet enim ac augue auctor viverra.</div>
		</div>
	</div>
</main>
<footer>
	<div class="row-between">
		<div class="sitelinks">
			<a href="../contact/contact.html">Contactpagina</a>
			<a href="../concert/concert.html">Uitjes naar Concerten in Amsterdam</a>
			<a href="sport.html">Sportevenementen in Almere</a>
			<a href="../recept/recept.html">Overzicht restaurants en bars</a>
			<a href="../recept/recept.html">Recepten voor kamerbewoners</a>
			<a href="../../index.html">Blog (homepage)</a>
		</div>
		<div class="img-container">
			<img src="../../images/Thom.jpg" height="200" width="200" alt="webontwikkelteam">
		</div>
	</div>
	<div class="copyright"> &#169 Copyright roc-dev.com 2015 </div>
</footer>
</body>
</html>