footer {
    clear: both;
    text-align: center;
    background-color: #808080;
}

#h1 {
    font-family: 'Oswald', sans-serif;
}

#p {
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: blue;
}