/*
* naam: Thom Kok
* groep: 6C
* datum: 25-1-2017
*/

/* Body */
* {
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    margin: 0;
}

/* Afbeelding */

.image {
    width: 100%;
    height: 33%;
}

.winkelwagenImage {
    width: 250px;
    height: 250px;
}

.jumbotron {
    background-image: url("../img/icehockey_head.jpg");
    background-size: cover;
}

.skates {
    width: 100%;
    height: 16%;
}

/* Margin */

.margin10 {
    margin: 10px;
}

.marginB0 {
    margin-bottom: 0;
}

.marginT10 {
    margin-top: 10px;
}

.marginL10 {
    margin-left: 10px;
}

.marginL250 {
    margin-left: 250px;
}

.marginB50 {
    margin-bottom: 50px;
}

.marginB20 {
    margin-bottom: 20px;
}

.marginB10 {
    margin-bottom: 10px;
}

.marginLR15P {
    margin-left: 15%;
    margin-right: 15%;
}

.marginL10P {
    margin-left: 10%;
}

.paddingL0 {
    padding-left: 0;
}

/* Float */
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/* P */

p {
    width: 100%;
}

#aantal1, #aantal2, #aantal3 {
    width: 45px;
}

#button {
    width: 100px;
}

p, a {
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

.textalignR {
    text-align: right;
}

.displayInline {
    display: inline;
}