* {
    box-sizing:border-box;
}
.header {
    background-color:rgb(80,80,81);
}
.wrapper {
    background-color:white;
    margin-left:80px;
    margin-right:80px;
}
.arimo {
    font-family: 'Arimo', sans-serif;
}
article {
    background-color:rgb(244, 244, 244);
}
.articleTitle {
    background-color:rgb(192, 192, 200);
}
.lightGrey {
    background-color:rgb(226, 226, 226);
}
.grey {
    background-color:rgb(90, 90, 91);
}
.darkGrey {
    background-color:rgb(61, 61, 61);
}
.white {
    color:white;
}
.black {
    color:black;
}
.green {
    background-color: rgb(158, 180, 69);
}
.vinkAfbeelding {
    height:15px;
    width:15px;
}
.linkDec {
    display:block;
    text-decoration:none;
}
.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;
}
#custom-search-input button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}
#custom-search-input .glyphicon-search{
    font-size: 23px;
}