<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<link rel="stylesheet" type="text/css" href="../../css/contact.css">
	<title>Bierhier</title>
</head>
<body>
<nav>
	<div class="row">
		<a href="../../index.html">Home</a>
		<a href="../concert/concert.html">Concerten</a>
		<a href="../sport/sport.html">Sport</a>
		<a href="../recept/recept.html">Recepten</a>
		<a href="contact.html">Contact</a>
	</div>
	<div class="img-container">
		<img src="../../images/logo-rocvf.png" height="74" width="166" alt="rocvf logo">
	</div>
</nav>
<main>
	<h1 class="contact">Contact</h1>
	<div class="row xl-col">
		<div class="col roc-building">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.9802453944245!2d5.185023944159266!3d52.365630016063605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6112d65cde54d%3A0xcbc25e05873db2e1!2sLouis%20Armstrongweg%2042%2C%201311%20RK%20Almere!5e1!3m2!1snl!2snl!4v1653725403758!5m2!1snl!2snl" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		<div class="col">
			<b>Adresgegevens</b>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet enim ac augue auctor viverra.
				Phasellus congue tempor justo sed cursus.
				Praesent pretium libero nec lectus elementum interdum. Ut at odio lorem. Sed posuere tempus
			</p>
		</div>
	</div>
	<div>
		<form class="col">
			<div class="grid grid-col-2">
				<label for="name">Naam</label>
				<input id="name" type="text" name="name">
				<label for="email">E-mailadres</label>
				<input id="email" type="text" name="email">
				<label for="phone">Telefoon</label>
				<input id="phone" type="text" name="phone">
				<label for="message">Bericht</label>
				<textarea id="message" name="message" rows="8"></textarea>
				<div></div>
				<div class="align-right">
					<button class="send-button" type="submit">Verzenden</button>
				</div>
			</div>
		</form>
	</div>
</main>
<footer>
	<div class="row-between">
		<div class="sitelinks">
			<a href="contact.html">Contactpagina</a>
			<a href="../concert/concert.html">Uitjes naar Concerten in Amsterdam</a>
			<a href="../sport/sport.html">Sportevenementen in Almere</a>
			<a href="../recept/recept.html">Overzicht restaurants en bars</a>
			<a href="../recept/recept.html">Recepten voor kamerbewoners</a>
			<a href="../../index.html">Blog (homepage)</a>
		</div>
		<div class="img-container">
			<img src="../../images/Thom.jpg" height="200" width="200" alt="webontwikkelteam">
		</div>
	</div>
	<div class="copyright"> &#169 Copyright roc-dev.com 2015 </div>
</footer>
</body>
</html>