* {
    box-sizing:border-box;
}
img#logo {
    width:320px;
}
img {
    width:100%;
}

/* mobieltje */
header {
    background-color:rgb(193,240,223);
    text-align:center;
}
body {
    margin:0px;
    padding:0px;
    background-color:white;
    font-family: 'Raleway', sans-serif;
}
div#wrapper {
    background-color:rgb(250,241,234);
}
ul {
    padding:0px;
    margin:0px;
}
li {
    background-color:rgb(128,128,128);
    padding:10px;
    padding-left:20px;
    border-top:1px solid white;
}
li a {
    color:white;
    text-decoration:none;
    font-weight:700;
}
h3 {
    color:rgb(220,106,94);
    font-weight:600;
}
section, footer {
    padding:20px;
}
footer {
    background-color:rgb(128,128,128);
    color:white;
    clear:both;
}
footer h3 {
    color:white;
}
/* tablet */
@media all and (min-width:558px) {
    section#nieuws {
        width:40%;
        float:left;
    }
    section#instrumenten {
        width:60%;
        float:right;
    }
    ul {
        background-color:rgb(128,128,128);
        border-tp:1px solid white;
    }
    li {
        display:inline-block;
        border:none;
    }
}
/* computer */
@media all and (min-width:800px) {
    section#nieuws {
        width:30%;
        float:left;
    }
    section#instrumenten {
        width:70%;
        float:right;
    }
    article {
        display:inline-block;
        width:48%;
        margin-right:20px;
        vertical-align:top;
        margin-left:0px;
        float:left;
    }
    article:nth-child(even) {
        margin-right:0px;
        float:right;
    }
}
/*website*/
@media all and (min-width:1200px) {
    div#wrapper {
        width:1200px;
        margin:auto;
    }
}