* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    h1, h2 {
        font-family: 'Arvo Bold', sans-serif;
        color: #013358;
    }

    h1 {
        font-size: 1.25em;
        font-weight: bold;
    }

    h2 {
        font-size: 1em;
        font-weight: bold;
    }

    div, p, a {
        font-family: 'Open Sans Regular', sans-serif;
        color: #013358;
        white-space: normal;
    }

    a, a:hover {
        text-decoration: none;
    }

    body {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        &.border-top-2 {
            border-top: 2px solid black;
        }

        nav {
            display: flex;
            justify-content: center;

            .navigation {
                a {
                    color: #000000;
                    font-weight: bold;
                    padding: 5px 10px 10px 5px;

                    &.selected, &:hover:not(:first-child) {
                        color: #FFFFFF;
                        background-color: #1E87C9;
                    }

                    &:hover {
                        filter: brightness(85%);
                    }
                }
            }
        }

        main {
            display: block;
            padding: 20px 20px;
            flex-grow: 1;

            .landing-image {
                img {
                    max-height: 400px;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 35%;
                    filter: grayscale(100%);
                }
            }

            .blue-beam {
                position: absolute;
                height: 180px;
                width: 100%;
                background-color: #1E87C9;
                margin-top: 20px;
                left: 0;
                right: 0;
            }

            .slider {
                padding-top: 80px;

                img {
                    border: 1px solid black;
                    height: 60%;
                    width: 100%;
                    object-fit: fill;
                    filter: grayscale(100%);
                }
            }

            .projects {
                img {
                    border: 1px solid black;
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                    filter: grayscale(100%);
                }

                .row > div {
                    margin-bottom: 10px;
                }
            }

            .tweets {
                img {
                    margin-right: 10px;
                }

                p {
                    margin: 10px 0;
                }

                .timestamp {
                    color: gray;
                    margin-bottom: 10px;
                }
            }
        }

        .read-more {
            padding: 5px 10px;
            border: 0;
            color: white;
            background-color: #1E87C9;

            &:hover {
                filter: brightness(85%);
            }
        }

        footer {
            clear: both;
            background-color: #999999;
            padding: 15px 0;

            h1, h2, div, p, a {
                color: white;
            }

            .socials {
                margin: 10px 0;
            }

            form {
                margin-bottom: 10px;
                width: 50%;

                label {
                    font-weight: bold;
                }

                input {
                    margin-bottom: 10px;
                    padding: 2px 5px;
                    border: 1px solid black;
                }

                button {
                    width: fit-content;
                    padding: 2px 5px;
                    color: white;
                    background-color: #666A6B;
                    border: 1px solid black;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .slider {
            div.col-12 {
                height: fit-content;
                margin-bottom: 10px;
            }
        }
    }
}