* {
    box-sizing: border-box;
}
div.links {
    float:left;
}
label {
    margin-left:10px;
    margin-right:30px;
}
input {
    margin-bottom:10px;
}
select {
    margin-bottom:10px;
}
#voornaam {
    margin-left:35px;
}
#tussenvoegsel {
    margin-left:6px;
}
#achternaam {
    margin-left:22px;
}
#man {
    margin-left:45px;
}
#vrouw {
    margin-left:50px;
}
#kleurOgen {
    margin-left:28px;
}
label.omschrijving {
    float:left;
}
#omschrijving {
    margin-left:16px;
}
#lekkerEten {
    display: inline;
}
input.één {
    margin-left:24px;
}
input.twee, input.drie {
    margin-left:144px;
}
#annuleren {
    margin-left:145px;
    margin-right:10px;
}
#annuleren, #verzenden {
    margin-top:210px;
    width:80px;
}