.sport {
    margin-bottom: 20px;
}

.sport-images a {
    margin-bottom: 10px;
    margin-right: 10px;
}

.sport-text {
    display: flex;
    flex-direction: column;
}

.sport-text > div {
    height: 100%;
}

.row img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 336px) {
    .sport-description {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .sport-images a {
        margin-right: 0;
    }

    .sport-text {
        margin-bottom: 10px;
    }
}