* {
    box-sizing:border-box;
}
h1 {
    font-size:72px;
    font-weight:bold;
    color:black;
}
.titel{
    font-size:48px;
    font-style:normal;
    color:green;
}
p {
    font-size:32px;
    font-style: normal;
    color:black;
}
p {
    font-size:50px;
    font-weight:bold;
    color:blue;
}
.afbeeldingen {
    height:700px;
    width:700px;
    padding:50px;

}