/* Body */
* {
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    margin:0px;
}

/* Footer */
footer {
    height:100px;
    background-color:darkgray;
    clear:both;
}

/* Afbeelding */

.image {
    width:100%;
    height:300px;
}

/* Margin */

.margin10 {
    margin:10px;
}
.marginL10 {
    margin-left:10px;
}
.marginB50 {
    margin-bottom:50px;
}
.marginLR15P {
    margin-left:15%;
    margin-right:15%;
}

/* P */

p {
    width:100%;
}